 body {
 background-image: url(../img/rana-sawalha-364253-unsplash@1X.png);
 background-size: 100%;
 margin: 0 auto;
}

.head {
     background-color: black; 
     width: 100%;
     height: 48px;
     opacity: 0.7;
   }

.head_info {
 display: inline-block;  
font-family: Verbana﻿,sans-serif;
font-size: 20px;
font-weight: 700;
color: #fff;
text-transform: uppercase;
margin-top: 10px;
margin-left: 20px;
text-decoration: none;
}

.head_info:hover {
  color: green;  
}


.log_info {
float: right;
font-family: ﻿﻿Verdana,sans-serif;
font-size: 14px;
color: #fff;
margin-top: 10px;
margin-right: 25px;
text-decoration: none;
}
  span {
  color: green;
  text-decoration: underline;
 }

.ikon {
  display: inline-block;
  float: right;
  width: 249px;
  height: 40px;
  background-image: url(../img/header-icons.png);
  padding-right: 20px;
}
 
 
.block_two{
    position: absolute; 
    width: 444px;
    height: 520px;
    left: 500px;
    top: 90px;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    background-color: #fff;
    border: 2px solid black;
    border-radius: 8px;
}

.big_form {
    width: 322px;
    margin-left: 60px;
    margin-right: 20px;
}
.green_box {
  background-color:#3cb878;
  width: 18px;
  height: 18px;
  position: relative;
  left: -60px;
  top: 20px;
  box-sizing: border-box;   
}

.check_in {
  display: inline-block;
  margin-top: -6px;
  padding-inline-start: 0px;
  width: 322px;
}
 .big {
    display: inline-block;
    margin-left: 10px;
    font-family: Verdana;
    color:  #434343;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
 }
 .small {
    float: right;
    display: inline-block;
    font-family: Verdana;
    color:  #3cb878;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
 }

  .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .ikon_facebook {
    display: flex;
    justify-content: flex-start;
    border-radius: 3px;
    background-color: #264b96;
    width: 157px;
    height: 46px;
   }
   .yellow-icon{
    width: 45px; 
    height: 46px;
    }

.icon-white{
    color:white;
    position: relative;
    top:11px;
    left:16px;
}
    .text_facebook {
     display: inline-block;
     margin-top: 7px;
     width: 112px;
     height: 46px;
     font-family: Verdana;
     color:  #ffffff;
     font-size: 16px;
     font-weight: 400;
     line-height: 21px;
     text-align: center;
     text-decoration: none;
  }

  .ikon_google {
    display: flex;
    justify-content: flex-start;
     border-radius: 3px;
     background-color:  #c3412c;
     width: 157px;
     height: 46px;
   }

   .text_google {
    display: inline-block;
     width: 112px;
     height: 46px;
     margin-top: 7px;
    font-family: Verdana;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
  }


 .line {
   display: flex;
   align-items: center; 
   justify-content: space-between;
   margin-bottom: 10px;
 }
 .line_hr {
    background-color: grey;
    width: 135px;
    height: 1px;
}
   .or {
    font-family: Verdana;
    color:  #848484;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
   }

 .name {
    border: 1px solid #929292;
    border-radius: 3px;
    background-color:  #ffffff;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    width: 310px;
    height: 40px;
    font-style: italic;
    color:  #505050;
    font-size: 14px;
    font-weight: 300;
    padding-left: 13px;
    margin-right: 18px;
    margin-bottom: 10px;
}

  .option {
   font-family: Verdana;
   color:  #3cb878;
   font-size: 14px;
   font-weight: 400;
   line-height: 21px;
   text-align: center;
}

.send {
    margin-top: 20px;
    background-color: #3cb878;
    width: 322px;
    height: 46px;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 100;
    line-height: 43px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
}
 

 